img{
    height: 200px;
    width: 200px;
    float: left;
    overflow:scroll;
}
content{
    border: 10px solid #3e2b14;
}
body{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    overflow:scroll;

background-color: rgba(243, 242, 175, 0.52);
}
p{
    margin-left: 40px;
    margin-right: 40px;
    text-align:left;
    color: #646b62;
     line-height: 1.5;
    font-size: 20px;
    clear: left;
    margin:20px;
    padding: 20px;

    /*overflow:scroll;*/



}
.change{
    color:blue;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    float:left;
    margin-left:50px;
    clear: right;


}
.ok{
    text-align: center;
}
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:5px !important;}
.navbar {min-height:50px !important}
.hello{
    text-align: justify;
}
.hero{
    float:left;
    border:none;
    outline: none ;
    overflow: hidden;
    margin-top:.1px;
    padding: 0px;
    margin-left: 4px;
    margin-bottom: 5px;

}
.n{
    font-size: 20px;
    color: blue;
    /*width:40px;*/
}
.img-circle {
    border-radius: 30%;
    margin: 0 auto;
    padding: 0;
    margin-left: 500px;
}
.img-thumbnail {
    height:250px;
    width:20%;
    /*margin: 23px auto;*/
    margin-righ: 10px;
    margin:auto;
    float: left;
    display: block;
  padding: 20px;

}
.cen{
    margin-left: 22%;
    width: 900px;
    padding: 10px;
    z-index: 3;

}
.two{
    /*margin:0 auto;*/
    height: 100px;
    margin-left: 20%;
    /*width:120px;*/


}
/*.thumbnail_img img:hover {*/
    /*-webkit-transform: scale(1.5);*/
    /*-moz-transform: scale(1.5);*/
    /*-o-transform: scale(1.5);*/
    /*-ms-transform: scale(1.5);*/
    /*transform: scale(1.5);*/
/*}*/
.c1{
    margin-left: 25%;
}
.three{
    margin-left: 150px;
    margin-right: 50px;
    padding: 20px;
    width:5000px;
    height:106px;

}
th{
    text-align: center;
}
.table{
    margin-left: 19%;
    font-size: large;

}
td{
    font-family: "Arial";
    width: 60%;
}
.qwe{
    /*width: 200px;*/
    /*height: 134px;*/
    margin-left:8%;
}
.one{
    margin-left: 25%;
   height: 300px;
    /*width: 250px;*/
    width: 100%;
}
.navbar-default {
      background-color: rgb(226, 217, 136);;
      border-color: #E7E7E7;
  }

/*img {*/
    /*border: 10px double red;*/
/*}*/


Img {
    border: 10px solid #3e2b14;
    padding: 10px;
    image-resolution: from-image;

}
/*.photo{*/
    /*margin-left: 50%;*/
/*}*/
